#janela {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    background: linear-gradient( to right, blue, red);
    /*background:linear-gradient( 0deg, blue, red ); */
}